<!DOCTYPE html>
<html>
<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
</head>



<div class="container">
    <div class="row">
        <main class="col-md-12">
            <br>
            <h1>Welcome to the About Page</h1>
            <h2>About Me</h2>
            <p>
                My name is Samuel. I am actually a student at Seneca Polytechnic. My program name is BTT.
            </p>
        </main>
    </div>
</div>

</body>
</html>

