<link rel="stylesheet" href="/css/theme.css">

<div class="row">
    <div class="col-md-12">
        <h1>Add Course</h1>
        <form action="/courses/add" method="POST">
            <div class="form-group">
                <label for="courseCode">Course Code</label>
                <input type="text" class="form-control" id="courseCode" name="courseCode" placeholder="Enter Course Code">
            </div>
            <div class="form-group">
                <label for="courseDescription">Course Description</label>
                <input type="text" class="form-control" id="courseDescription" name="courseDescription" placeholder="Enter Course Description">
            </div>
            <button type="submit" class="btn btn-primary">Add Course</button>
        </form>
    </div>
</div>
