<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Edit Course</h2> <!-- Changed to Edit Course to reflect the action -->
        <hr />
        <form action="/course/update" method="POST"> <!-- Updated form method and action -->
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="courseCode">Course Code</label>
                        <input class="form-control" id="courseCode" name="courseCode" type="text" value="{{course.courseCode}}" readonly />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="courseDescription">Course Description</label>
                        <input class="form-control" id="courseDescription" name="courseDescription" type="text" value="{{course.courseDescription}}" />
                    </div>
                </div>
            </div>
            <!-- Include a hidden field for the course ID -->
            <input type="hidden" name="courseId" value="{{course.courseId}}" />
            <!-- Update the submit button text -->
            <button type="submit" class="btn btn-primary">Update Course</button>
        </form>
        <hr />
    </div>
</div>
